Merch Email:,replaceme@gmail.com,Merch Password:,replace me,,,,,,
Shirt Type,Brand Name,Shirt Title,Desc 1,Desc 2,Colors,Fits,Price,Shirt File Name,Desc
anvil,Whatever Tees,Max characters - 60 for title,Tee description box one,Tee description box two,"black, dark heather, navy, baby blue, asphalt","womens, men, kids",16.99,file.png,description must be either empty or greater than 75 characters and less than 2000
